# [START swagger]
swagger: "2.0"
info:
  description: "A simple Google Cloud Endpoints API example."
  title: "Endpoints Example"
  version: "1.0.0"
host: "echo-api.vavato.com"
x-google-endpoints:
  - name: "echo-api.vavato.com"
    target: 35.205.162.246
# [END swagger]
consumes:
- "application/json"
produces:
- "application/json"
schemes:
# Uncomment the next line if you configure SSL for this API.
- "https"
- "http"
paths:
  "/echo":
    post:
      security:
        - your_custom_auth_id: []
      description: "Echo back a given message."
      operationId: "echo"
      produces:
      - "application/json"
      responses:
        200:
          description: "Echo"
          schema:
            $ref: "#/definitions/echoMessage"
      parameters:
      - description: "Message to echo"
        in: body
        name: message
        required: true
        schema:
          $ref: "#/definitions/echoMessage"

definitions:
  echoMessage:
    type: "object"
    properties:
      message:
        type: "string"
  authInfoResponse:
    properties:
      id:
        type: "string"
      email:
        type: "string"

securityDefinitions:
  your_custom_auth_id:
    authorizationUrl: ""
    flow: "implicit"
    type: "oauth2"
    x-google-issuer: "vavato"
    # TODO: Should be https
    #x-google-jwks_uri: "https://auth-proxy-api.vavato.com/auth/jwks"
    x-google-jwks_uri: "http://auth-proxy-api.vavato.com/auth/jwks"
    # Optional. Replace YOUR-CLIENT-ID with your client ID
    x-google-audiences: "https://vavato.com"
