# [START swagger]
swagger: "2.0"
info:
  description: "A simple Google Cloud Endpoints API example."
  title: "Endpoints Example"
  version: "1.0.0"
host: "payments-api.vavato.com"
x-google-endpoints:
  - name: "payments-api.vavato.com"
    target: 104.155.43.179
# [END swagger]
consumes:
- "application/json"
produces:
- "application/json"
schemes:
# Uncomment the next line if you configure SSL for this API.
- "https"
- "http"
paths:
  "/health_check":
    get:
      security:
        - your_custom_auth_id: []
      description: "Health check endpoint for the payments api"
      operationId: payments-api-health-check
      responses:
        200:
          description: "Great success!!!"
  "/bank_transactions":
    get:
      security:
        - your_custom_auth_id: []
      description: "bank_transactions"
      operationId: payments-api-bank_transactions
      responses:
        200:
          description: "Great success!!!"

  "/credit_notes":
    get:
      security:
        - your_custom_auth_id: []
      description: "credit_notes"
      operationId: payments-api-credit_notes
      responses:
        200:
          description: "Great success!!!"

  "/payment_requests/unpaid":
    get:
      security:
        - your_custom_auth_id: []
      description: "payment_requests/unpaid"
      operationId: payments-api-payment_requests/unpaid
      responses:
        200:
          description: "Great success!!!"

  "/admin/payment_requests":
    get:
      security:
        - your_custom_auth_id: []
      description: "payment_requests"
      operationId: payments-api-payment_requests
      responses:
        200:
          description: "Great success!!!"

securityDefinitions:
  your_custom_auth_id:
    authorizationUrl: ""
    flow: "implicit"
    type: "oauth2"
    x-google-issuer: "vavato"
    # TODO: Should be https
    #x-google-jwks_uri: "https://auth-proxy-api.vavato.com/auth/jwks"
    x-google-jwks_uri: "http://auth-proxy-api.vavato.com/auth/jwks"
    # Optional. Replace YOUR-CLIENT-ID with your client ID
    x-google-audiences: "https://vavato.com"
